.cheese-button {
  width: 100px;
  height: 60px;
  font-size: 28px;
  background-color: lightgray;
  transition: 0.2s;
  border-radius: 10px;
}
.cheese-button:hover {
  background-color: rgb(140, 140, 140);
}
