.playcell {
  width: 48px;
  height: 48px;
  border: 2px solid whitesmoke;
  display: flex;
  font-size: 1.875rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .playcell {
    width: 24px;
    height: 24px;
    border: 1px solid whitesmoke;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }
}
.cell-cheese-clicked {
  background: rgb(112, 110, 110);
}
.cell-bomb {
  background: rgb(55, 40, 0);
}
.x0 {
  background: rgb(236, 232, 232);
}
.x1 {
  color: rgb(255, 226, 80);
}
.x2 {
  color: rgb(218, 150, 16);
}
.x3 {
  color: rgb(233, 119, 5);
}
.x4 {
  color: rgb(225, 12, 8);
}
.x5 {
  color: rgb(104, 48, 2);
}
.x6 {
  color: rgb(104, 48, 2);
}
