body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;;
  font-family: Arial, Helvetica,sans-serif;
  font-weight: bold;
  margin: auto;
  cursor: url('https://img.lovepik.com/free-png/20211117/lovepik-mouse-png-image_400982820_wh1200.png'), pointer;
}
